.demo-table {
    width: 100%;
}

table td {
    text-align: center;
}

table th {
    text-align: center;
}

.wrapper {
    max-width: 800px;    
    margin: 137px auto;
    border-radius: 7px;    
}

mat-icon {
    cursor: pointer;
    /* font-size: larger; */
    margin-top: 10px;
}

mat-card{
    text-align: center; font-size:x-large
}